# Ignore node_modules directory
node_modules/
Angular/.Angular

# Ignore bin and obj directories within API/TODOListApi
API/TODOListApi/bin/
API/TODOListApi/obj/
API/TodoListTest/bin/
API/TodoListTest/obj/
