<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Add new Todo
  </button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add new Todo</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="todoForm" (ngSubmit)="onSubmit()">
                    <div class="mb-3">
                      <label for="titleInput" class="form-label">Title</label>
                      <input type="title" class="form-control" id="title" 
                      formControlName="title">
                    </div>
                    <div *ngIf="title?.invalid && (title?.dirty || title?.touched)"
                      class="alert alert-danger">

                      <div *ngIf="title?.errors?.['required']">
                        Title is required.
                      </div>
                    
                  </div>
                    <div class="mb-3">
                      <label for="descriptionInput" class="form-label">Description</label>
                      <textarea name="description" id="description" class="form-control" 
                      cols="30" rows="10" formControlName="description"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary"
                    [disabled]="!todoForm.valid" data-bs-dismiss="modal">Add</button>
                  </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
